.adminProfile {
  position: fixed;
  /* background-color: wheat; */
  margin: 100px 0px 20px 240px;
  width: 1630px;
  height: 100%;
  overflow-y: auto;
  max-height: fit-content;
}

@media (max-width: 600px) {
  .adminProfile {
    width: calc(100% - 150px);
    margin-left: 130px;
    margin-top: 15%;
  }
}
.adminProfile::-webkit-scrollbar {
  display: none;
}

.container_one {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0px 20px;
}

.c1_button {
  display: flex;
  justify-content: space-between;
}

.c2_button {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}

.cAccount {
  background-color: #003163;
  border: none;
  color: white;
}

.cAccount:hover {
  background-color: #c0c2c2;
  border: none;
  color: #003163;
}

.inventory {
  background-color: white;
  border: 2px solid #003163;
  color: #003163;
}

.inventory:hover {
  background-color: #c0c2c2;
  border: 2px solid #003163;
  color: #003163;
}

.cAccount,
.inventory {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 20px 50px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.jhs,
.shs,
.college {
  background-color: #fafafa;
  border: 2px solid #8a8a8a;
  color: #8a8a8a;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 40px 4px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.jhs:hover,
.shs:hover,
.college:hover {
  background-color: #003163;
  border: 2px solid #003163;
  color: white;
}

.healthRecord,
.chartStat,
.diagram {
  color: #8a8a8a;
}

.container_three {
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
  width: 100%;
  height: 50%;
  margin: 20px 0px;
}

.left {
  /* background-color: burlywood; */
  width: 30%;
  height: 103.5%;
  display: grid;
  /* justify-content: space-between; */
}

.left1,
.left2,
.left3 {
  background-color: #c0c2c2;
  width: 100%;
  height: 90%;
}

.middle {
  background-color: #c0c2c2;
  width: 50%;
  height: 100%;
  margin: 0 15px 0 15px;
}

.right {
  background-color: #c0c2c2;
  width: 30%;
  height: 100%;
  padding: 10px 20px;
}

.container_four {
  background-color: #c0c2c2;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 10%;
}

.account-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay background */
  display: none;
  justify-content: center;
  align-items: center;
}

.account-popup.show {
  display: flex;
}

.popup-inner {
  position: relative;
  background-color: #003163;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  color: white;
}

.close-icon svg {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.cAccount-container {
  max-width: 700px;
  height: 600px;
  overflow-y: auto;
}
.cAccount-container::-webkit-scrollbar {
  display: none;
}

h3 {
  margin: 10px 0px;
}
/* Styles for form elements */
form {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.button-submit {
  display: flex;
  justify-content: center;
}

.category-button,
.gLevel-button,
.section-button {
  background-color: #fafafa;
  border: 2px solid #8a8a8a;
  color: #8a8a8a;
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 40px 4px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.category-button:hover,
.category-button.selected,
.gLevel-button:hover,
.gLevel-button.selected,
.section-button:hover,
.section-button.selected {
  background-color: #003163;
  border: 2px solid #003163;
  color: white;
}

.name-list li:hover {
  color: blue;
  cursor: pointer;
}

.name-list ul {
  list-style-type: decimal;
}

.name-list h3 {
  text-align: center;
}

.student-info,
.name-list ul {
  background-color: #c0c2c2;
  padding: 1% 2%;
  margin: 1% 0% 2% 0%;
}

@media (max-width: 1600px) {
  .adminProfile {
    width: calc(100% - 270px);
    margin-left: 250px;
    margin-top: 10%;
  }

  .category-button,
  .gLevel-button,
  .section-button {
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 20px 4px 0px;
    cursor: pointer;
    border-radius: 12px;
  }

  .cAccount,
  .inventory {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 20px 50px 0px;
    cursor: pointer;
    border-radius: 12px;
  }

  .c1_button {
    display: flex;
    justify-content: space-between;
    /* margin-top: px; */
  }

  .c2_button {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .adminProfile {
    width: calc(100% - 150px);
    margin-left: 130px;
    margin-top: 15%;
  }
  .category-button,
  .gLevel-button,
  .section-button {
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 0px 10px 10px 0px;
    cursor: pointer;
    border-radius: 12px;
  }

  .cAccount,
  .inventory {
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 0px 10px 60px 0px;
    cursor: pointer;
    border-radius: 12px;
  }

  .c1_button {
    display: flex;
    justify-content: space-between;
  }

  .c2_button {
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
  }
  .container_one {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
