.event {
  display: flex;
  flex-direction: column;
  margin: 6% 21% 0% 12%;
}

.event-container {
  background-color: rgba(138, 138, 138, 0.2);
  padding: 30px;
  border-radius: 20px;
  margin-top: 2%;
  margin-left: 2%;
  height: fit-content;
  position: relative; /* Added position relative */
}

.event-title {
  color: #003163;
  font-size: 20px;
  font-weight: 600;
}

.event-about {
  max-width: 100%;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  margin-top: 40px;
}

.about-line::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 45%;
  transform: translateX(-50%) translateY(50%);
  height: 4px;
  width: 95%;
  background-color: #061e44;
}

.event-detail {
  background-color: #003163;
  width: fit-content;
  padding: 20px 170px 20px 25px;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0px;
}

.interested {
  background-color: #429d1c;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  border-radius: 12px;
}

.quantity-input {
  margin-top: 20px;
}

.quantity {
  margin-right: 20px;
}

.adminEvent {
  display: flex;
  /* background-color: pink; */
}

.adminEvent .event-edit {
  margin-left: 20%;
  background-color: #5ce1e6;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 2px;
}

.adminEvent .event-add {
  margin-left: 10px;
  background-color: #7ed957;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 2px;
}

@media (max-width: 1600px) {
  .event {
    width: calc(100% - 270px);
    margin-left: 250px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

@media (max-width: 600px) {
  .event {
    width: calc(100% - 150px);
    margin-left: 130px;
    margin-top: 17%;
  }
}
