.request {
  display: flex;
  flex-direction: column;
  margin: 6% 21% 0% 12%;
}

.form-container {
  background-color: rgba(138, 138, 138, 0.2);
  padding: 30px;
  border-radius: 20px;
  margin: 2% 0 2% 2%;
  height: fit-content;
}

.form-title {
  color: #003163;
  font-size: 20px;
  font-weight: 600;
}

.form1 h3 {
  max-width: 100%;
  height: fit-content;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0 0px 0;
}

.form-button {
  display: grid;
  margin: 0% 0% 0% 80%;
}
.download {
  background-color: #003163;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 10px 4px 0px;
  cursor: pointer;
  border-radius: 12px;
}

.search-container {
  display: flex;
  align-items: center;
  margin: -2% 2% 0% 70%;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 400px;
  margin-right: 10px;
}

.search-button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: -16px;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:active {
  background-color: #004080;
}

@media (max-width: 1600px) {
  .request {
    width: calc(100% - 270px);
    margin-left: 250px;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin: 2% 2% 0% 50%;
  }

  .form-button {
    display: grid;
    margin: 0% 0% 0% 70%;
  }
}

@media (max-width: 600px) {
  .request {
    width: calc(100% - 150px);
    margin-left: 130px;
    margin-top: 17%;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin: 2% 2% 0% 20%;
  }

  .form-button {
    display: grid;
    margin: 0% 0% 0% 30%;
  }
}
