.services {
  height: 100vh;
  display: grid;
  place-items: start;
  width: calc(100% - 270px);
  margin: 5% 1% 1% 12%;
}

.slider {
  width: 67vw;
  height: 45vh;
  overflow-x: scroll;
  scrollbar-width: none;
  cursor: grab;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-track {
  width: max-content;
  height: inherit;
  display: flex;
  gap: 0.25rem;
}

.slider-image {
  width: 40vw;
  object-fit: cover;
}

@media (max-width: 1600px) {
  .services {
    width: calc(100% - 270px);
    margin-left: 250px;
    margin-top: 10%;
  }

  .slider {
    width: 78vw;
    height: 45vh;
    overflow-x: scroll;
    scrollbar-width: none;
    cursor: grab;
  }
}

@media (max-width: 600px) {
  .services {
    width: calc(100% - 150px);
    margin-left: 22%;
    margin-top: 15%;
  }

  .slider-image {
    width: 75vw;
    object-fit: cover;
  }
}
